@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;

  background: #1F2937;
}

.header {
  display: flex;
  background: #1F2937;
}


ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a { 
  text-decoration: none;
  color: grey
}


.header-links {
  margin-left: auto;
  margin-top: 5px;
  font-size: 18px;
  color: #E5E7EB;
}

.header-logo {
  margin-right: auto;
  font-size: 48px;
  font-weight: bold;
}



.section-1 {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5%;
  row-gap: 30px;
  background: #1F2937;

}

.Hero-text {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

p {
  font-size: 18px;
  color: #E5E7EB;
}

.left-side {
  margin-right: auto;
  flex: 1 0 250px;
}

.right-side {
  margin-right: auto;
  flex: 1 0 250px;
}

img {
  max-width: 100%;
  height: auto;
}

.p {
  text-wrap: wrap;
}

.button {
  min-height: 30px;
  min-width: 120px;
  background-color: #3882F6;
  border-radius: 5px;
}

/*/.back-bleed {
  box-shadow: 0 0 0 100vmax #F9FAF8;
  clip-path: inset (0 -100vmax);
}
/*/

.section-2 {
  padding-top: 5%;
  padding-bottom: 5%;
  border-image: conic-gradient(#FFFFFF 0 0) fill 0/0/0 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.infoboxes {
  padding-top: 3%;
  display: flex;
  gap: 40px;
}

.infotext {
  text-align: center;
  color: #000000;
}


.cards {
  border: 5px solid #3882F6;
  border-radius: 25px;
  width: 200px;
}

.info-header-text {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}


/* QUOTE TIME */

.section-3 {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  border-image: conic-gradient(#E5E7EB 0 0) fill 0/0/0 100vw;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  text-align: left;
}

.quoter {
  text-align: right;
  font-size: 25px;
  font-weight: 700;
  color: #1F2937;
}